<section class="my-4 text-center">
  <img
    src="./minibili.png"
    class="mb-8 mt-12 inline-block w-[400px] max-w-full"
    alt="minibili logo" />
  <p class="mb-12 mt-6 text-3xl tracking-wider">一款简洁的B站浏览应用</p>
  <div
    data-tip="正在获取最新版本，请稍候"
    :class="latestApkUrl? '' : 'tooltip'">
    <a
      :href="latestApkUrl"
      @click="displayDownloadToast"
      :style="latestApkUrl ? '' : 'pointer-events: none'"
      :disabled="!latestApkUrl"
      class="btn btn-primary btn-lg px-16 text-white transition-all hover:tracking-wide"
      :download="'minibili-' + latestVersion + '.apk'">
      下载APP
      <template x-if="!latestVersion">
        <span class="loading loading-spinner"></span>
      </template>
      <template x-if="latestVersion">
        <span x-text="' (' + latestVersion + ')'"></span>
      </template>
    </a>
  </div>
  <div
    class="toast toast-top toast-start"
    style="display: none"
    :style="showDownloadToast ? '' : 'display: none'">
    <div class="alert alert-info">
      <span> 下载已开始，请稍候...</span>
      <button
        class="btn btn-ghost btn-square btn-sm"
        @click="showDownloadToast = false">
        ✕
      </button>
    </div>
  </div>
</section>

<script>
  import { advancedRequest } from '../request'
  function setup() {
    return {
      latestVersion: '',
      latestApkUrl: '',
      showDownloadToast: false,
      displayDownloadToast() {
        if (this.latestApkUrl) {
          this.showDownloadToast = true
        }
      },
      init() {
        this.getLatestVersion()
      },
      getLatestVersion() {
        if (this.latestVersion) {
          return
        }
        //       fetch(
        //   'https://tingyuan.in/api/github/releases?user=lovetingyuan&repo=minibili&_t=' +
        //     Date.now(),
        // )
        //   .then((r) => r.json())
        //   .then((r) => {
        //     if (r.code !== 0) {
        //       throw new Error(r.code + ':' + r.message)
        //     }
        //     return r.data as { version: string; changelog: string }[]
        //   })
        advancedRequest(
          'https://tingyuan.in/api/github/releases?user=lovetingyuan&repo=minibili&_t=' +
            Date.now(),
          20 * 1000,
          5,
        )
          .then((r) => {
            if (r.code !== 0) {
              throw new Error(r.code + ':' + r.message)
            }
            return r.data[0]
          })
          .then((r) => {
            const GhProxy = 'https://ghfast.top'
            const githubLink = 'https://github.com/lovetingyuan/minibili'

            const version = r.version.split('-')[1]
            const downloadLink = `${GhProxy}/${githubLink}/releases/download/v${version}/${r.version}.apk`
            // const apkUrl = `https://unpkg.com/minibili@${r.version}/apk/minibili-${version}.apk`
            this.latestApkUrl = downloadLink
            this.latestVersion = version
          })
      },
    }
  }
</script>
