<section
  class="my-12 flex items-center justify-center gap-0 text-center sm:gap-4">
  <a
    :href="'#screenshot-' + leftIndex"
    class="btn btn-sm btn-circle text-lg"
    title="上一张"
    >❮</a
  >
  <div class="mockup-phone flex-shrink-0" style="margin: 0 10px">
    <div class="camera" style="background: transparent"></div>
    <div class="display">
      <div class="carousel rounded-box w-64">
        <template x-for="(pic, i) in imgs">
          <div class="carousel-item w-full" :id="'screenshot-' + i">
            <img
              :src="pic"
              class="min-h-[550px] w-full min-w-[250px]"
              alt="app运行截图" />
          </div>
        </template>
      </div>
    </div>
  </div>
  <a
    :href="'#screenshot-' + rightIndex"
    class="btn btn-sm btn-circle text-lg"
    title="下一张"
    >❯</a
  >
</section>

<script>
  function setup() {
    return {
      leftIndex: 3,
      rightIndex: 1,
      screenShotCount: 4,
      imgs: ['video-list.jpg', 'player.jpg', 'up-list.jpg', 'up-detail.jpg'],
      handleHashChange() {
        // 0 1 2 3
        if (!window.location.hash) {
          return
        }
        const index = window.location.hash.split('-').pop() - 0
        this.leftIndex =
          (index + this.screenShotCount - 1) % this.screenShotCount
        this.rightIndex = (index + 1) % this.screenShotCount
      },
      init() {
        // Register an event handler that references the component instance
        this.handleHashChange = this.handleHashChange.bind(this)
        window.addEventListener('hashchange', this.handleHashChange)
        if (window.location.hash) {
          this.handleHashChange()
        }
      },
      destroy() {
        window.removeEventListener('hashchange', this.handleHashChange)
      },
    }
  }
</script>
