#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  color: #2c3e50;
}

[data-emoji] {
  vertical-align: text-bottom;
  margin: 0 3px;
}

.g-noselect {
  user-select: none;
}
.g-vamiddle {
  vertical-align: middle;
}
