/* @tailwind base; */

.mt-4 {
  margin-top: 1rem
}

.flex-1 {
  flex: 1 1 0%
}

.gap-2 {
  gap: 0.5rem
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.font-bold {
  font-weight: 700
}
